################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppCSharpTests/bin/Debug
/ConsoleAppCSharpTests/obj/Debug
/ConsoleAppCSharpTests/Properties
/ConsoleAppCSharp/bin
/ConsoleAppCSharp/obj
/ConsoleAppCSharp/Properties
/ConsoleAppCSharp/.vs/ConsoleAppCSharp
/ConsoleAppCSharp/packages
/CalculadoraWeb1/.vs/CalculadoraWeb1
/CalculadoraWeb1/bin
/CalculadoraWeb1/Content
/CalculadoraWeb1/packages/Microsoft.AspNet.FriendlyUrls.1.0.2
/CalculadoraWeb1/obj/Debug
/CalculadoraWeb1/packages
/CalculadoraWeb1/Properties
/CalculadoraWeb1/Scripts
/SistemaDeGestaoDeEstudantes/bin/Debug
/SistemaDeGestaoDeEstudantes/obj/Debug
/SistemaDeGestaoDeEstudantes/Properties
/.vs/VSWorkspaceState.json
